<%- include('partials/header'); -%>

    <div class="box">
        <label for="">Internal Marks : <%=internal%></label>
    </div>
    <div class="box">
        <label for="">External Marks : <%=external%></label>
    </div>
    <div class="box">
        <label for="">Total Marks : <%=total%></label>
    </div>
    <div class="box">
        <label for="">Grade : <%=grade%></label>
    </div>
    <div class="box">
        <a href="/<%=page%>"><button type="submit">Calculate Again</button></a>
    </div>



    <%- include('partials/footer'); -%>
